/*
Theme Name: Simplicity
Theme URI: http://zitseng.com/tech/simplicity
Description: A clean, simple and elegant WordPress theme designed by <a href="http://zitseng.com/">Lai Zit Seng</a>. Highly configurable layout: flexible/fluidwidth  or fixed width, two or three columns. XHTML and CSS compliant. Supports new comment threading features of WordPress 2.7.
Version: 0.3.35
Author: Lai Zit Seng
Author URI: http://zitseng.com/
Tags: flexible-width, fixed-width, two-columns, three-columns, left-sidebar, right-sidebar, threaded-comments, theme-options, custom-header

   This is my attempt to spin my own WordPress theme. I was looking for
   a simple fluid width three column theme, but could not find anything
   that I liked. After many months of procastinating, I finally got
   around to putting Simplistic together.

   I used the default WordPress theme (Kubrick v1.5) as the basis for
   creating Simplistic. Some ideas were also borrowed from various other
   sources.

   This theme, including the CSS, XHTML and design, is released under the
   GPL: http://www.opensource.org/licenses/gpl-license.php

*/


/* Layout default typography and colours */

body {
  font-size: 75%;
  font-family: 'Lucida Grande', Verdana, Sans-Serif;
  color: #222222;
  text-align: center;
}

#page { background-color: white; text-align: left; }

#header { margin: 0; padding: 0; }

#headertitle { padding: 0 1em 2em 1em; }

#headermenu { clear: both; margin: 0; border: 0; padding: 0 1em; }

#headerbar { clear: both; height: 0.5em; padding: 0; }

#outer-column-container { }

#source-order-container {
  display: table;
  float: left;
  min-height: 100%;
  width: 100%;
}

#left-column {
  padding: 0 4px;
  float: left;
  margin-left: -160px;
  width: 152px;
}

#right-column {
  padding: 0 4px;
  float: right;
  margin-left: 1px;
  width: 122px;
}

#content-column {
  display: table-row;
  vertical-align: top;
}

#content { padding: 0 1em; min-height: 100%; }

/* Begin Typography & Colors */

#header { }

#headerimg { }

#content .postmetadata { margin: 0.5em 2em; padding: 0 1em; }

#footer { border: none; }

small {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 0.9em;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #002c66;
  font-family: Helvetica, Arial Sans-Serif;
  font-weight: bold;
}

h1 { font-size: 1.6em; }

#headertitle .description { font-size: 1.2em; }

h2 { clear: both; font-size: 1.5em; }

h2.pagetitle { clear: both; font-size: 1.5em; }

.sidebar h2 {
  zoom: 1;
  font-family: 'Lucida Grande', Verdana, Sans-Serif;
  font-size: 1.2em;
}

h3 { clear: both; font-size: 1.3em; }

#header h1, #header h1 a, #header h1 a:hover, #header h1 a:visited, #header .description {
  text-decoration: none;
  color: #fff;
}

h1, h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
  color: #002c66;
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, .sidebar h2, #wp-calendar caption, cite {
  text-decoration: none;
}

.commentlist li, #commentform input, #commentform textarea {
  font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.commentlist li ul li {
  font-size: 1em;
}


.commentlist li {
  font-weight: bold;
}

.commentlist li .avatar { 
  float: right;
  border: 1px solid #eee;
  padding: 2px;
  background: #fff;
}

.commentlist cite, .commentlist cite a {
  font-weight: bold;
  font-style: normal;
  font-size: 1.1em;
}

.commentlist p {
  font-weight: normal;
  line-height: 1.5em;
  text-transform: none;
}

#commentform p {
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

.commentmetadata {
  font-weight: normal;
}

.sidebar {
  font-size: 0.9em;
}

small, .sidebar ul ul li, .sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
  color: #777;
}

code {
  font: 1.1em 'Courier New', Courier, Fixed;
}

acronym, abbr, span.caps
{
  font-size: 0.9em;
  letter-spacing: .07em;
}

a, h2 a:hover, h3 a:hover {
  color: #15a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wp-calendar #prev a, #wp-calendar #next a {
}

#wp-calendar a {
  text-decoration: none;
}

#wp-calendar caption {
  font-weight: bold;
  text-align: center;
}

#wp-calendar th {
  font-style: normal;
  text-transform: capitalize;
}
/* End Typography & Colors */

/* Begin Structure */
body {
  margin: 0;
  padding: 0;
}

#page {
  background-color: white;
  margin: 0;
  padding: 0;
}

#headerimg {
  margin: 0;
  width: 100%;
}

.post {
  margin: 0 0 1em;
  line-height: 140%;
}

.post hr {
  display: block;
}

.post h2 {
  margin: 0.5em 0 0;
  padding-top: 0.3em;
}

.postmetadata {
  clear: both;
  font-size: 0.9em;
}

.clear {
  clear: both;
}

#footer {
  padding: 0;
  margin: 0 auto;
  clear: both;
}

#footer p {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
/* End Structure */

/*	Begin Headers */
h1 {
  padding-top: 10px;
  margin: 0;
}

h2 {
  margin: 1em 0 0;
}

h2.pagetitle {
  margin-top: 30px;
  text-align: center;
}

.sidebar h2 {
  margin: 5px 0 0;
  padding: 0;
}

.sidebar h3 {
  padding: 0;
  margin: 1em 0 0;
  border-bottom: 1px solid #ccc;
}

h3 {
  padding: 0;
  margin: 1em 0 0;
}

h3.comments {
  padding: 0;
  margin: 40px auto 20px ;
}
/* End Headers */

/* Begin Images */
p img {
  padding: 0;
  max-width: 100%;
}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.alignright {
  padding: 4px;
  margin: 0 0 2px 7px;
  display: inline;
}

img.alignleft {
  padding: 4px;
  margin: 0 7px 2px 0;
  display: inline;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}
/* End Images */

/* Begin Lists
Special stylized non-IE bullets
Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
  margin-left: 0px;
  padding: 0 0 0 30px;
  list-style: none;
  padding-left: 10px;
  text-indent: -10px;
}

html>body .entry li {
  margin: 0.5em 0 0.5em 1em;
}

.entry ul li:before {
  content: "\00BB \0020";
}

.entry ol {
  padding: 0 0 0 35px;
  margin: 0;
}

.entry ol li {
  margin: 0;
  padding: 0;
}

.postmetadata ul, .postmetadata li {
  display: inline;
  list-style-type: none;
  list-style-image: none;
}

.sidebar ul, .sidebar ul ol {
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  list-style-type: none;
  list-style-image: none;
}

.sidebar ul p, .sidebar ul select {
  margin: 5px 0 8px;
}

.sidebar ul ul {
  margin: 0;
}

.sidebar ul ul ul, .sidebar ul ol {
  margin: 0 0 0 10px;
}

ol li, .sidebar ul ol li {
  list-style: decimal outside;
}

.sidebar ul ul li, .sidebar ul ol li {
  margin: 0;
  padding: 0;
}
/* End Entry Lists */

/* Begin Form Elements */
#searchform {
  margin: 10px auto;
  padding: 5px 3px;
  text-align: center;
}

.sidebar #searchform #s {
  width: 108px;
  padding: 2px;
}

.sidebar #searchsubmit {
  padding: 1px;
}

.entry form { /* This is mainly for password protected posts, makes them look better. */
  text-align:center;
}

select {
  width: 130px;
}

#commentform input {
  width: 170px;
  padding: 2px;
  margin: 5px 5px 1px 0;
}

#commentform textarea {
  width: 100%;
  padding: 2px;
}

#commentform #submit {
  margin: 0;
  float: right;
}
/* End Form Elements */

/* Begin Comments*/
.alt {
  margin: 0;
  padding: 10px;
}

.commentlist {
  padding: 0;
  text-align: justify;
}

.commentlist li {
  margin: 15px 0 3px;
  padding: 5px 10px 3px;
  list-style: none;
}

.commentlist p {
  margin: 10px 5px 10px 0;
}

.thread-alt {
  background-color: #f8f8f8;
}
.thread-even {
  background-color: white;
}
.depth-1 {
  border: 1px solid #ddd;
}
.even, .alt {
  border-left: 1px solid #ddd;
}

#commentform p {
  margin: 5px 0;
}

.nocomments {
  text-align: center;
  margin: 0;
  padding: 0;
}

.commentmetadata {
  margin: 0;
  display: block;
}
/* End Comments */

/* Begin Sidebar */
.sidebar form {
  margin: 0;
}
/* End Sidebar */

/* Begin Calendar */
  #wp-calendar {
  empty-cells: show;
  margin: 0 auto;
  width: 120px;
}

#wp-calendar #next a {
  padding-right: 5px;
  text-align: right;
}

#wp-calendar #prev a {
  padding-left: 5px;
  text-align: left;
}

#wp-calendar a {
  display: block;
}

#wp-calendar caption {
  text-align: center;
}

#wp-calendar td {
  padding: 1px 0;
  text-align: center;
}

#wp-calendar td.pad:hover { /* Doesn't work in IE */
	background-color: #fff; }
/* End Calendar */

/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
  cursor: help;
}

acronym, abbr {
  border-bottom: 1px dashed #999;
}

blockquote {
  margin: 15px 30px 0 10px;
  padding-left: 20px;
  border-left: 5px solid #ddd;
}

blockquote cite {
  margin: 5px 0 0;
  display: block;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

hr {
}

a img {
  border: none;
}

.navigation {
  display: block;
  text-align: center;
  margin-top: 1em;
}
/* End Various Tags & Classes*/

/* Captions */
.aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 5px;
  //-moz-border-radius: 3px;
  //-khtml-border-radius: 3px;
  //-webkit-border-radius: 3px;
  //border-radius: 3px;
}

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}
/* End captions */

/* headermenu */
#headermenu {
  padding: 0 1em;
  width: auto;
  background: transparent;
  font-family: 'Lucida Grande', Verdana, Helvetica, Sans-Serif;
}
#headermenu ul {
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}
#headermenu li {
  display: inline;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
#headermenu li:first-child { margin-left: 10px; }
#headermenu a {
  float: left;
  line-height: 1em;
  display: block;
  color: white;
  margin: 0 10px 0 0;
  padding: 0.5em 10px;
}
#headermenu a:hover, #headermenu li.current_page_item a {
  text-decoration: none;
}

/* Header colour scheme */
#headerbar { background-color: #0e3a82; }
#headermenu a { background-color: #4e7ac2; }
#headermenu a:hover, #headermenu li.current_page_item a { background-color: #0e3a82; }
#header { background-color: #2e5aa2; }
